<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>yeni</display-name>
  
  
  
  <servlet>
  	<servlet-name>KidsBooksPage</servlet-name>
  	<servlet-class>coreservlets.KidsBooksPage</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>KidsBooksPage</servlet-name>
  	<url-pattern>/servlet/KidsBooksPage</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
  	<servlet-name>TechBooksPage</servlet-name>
  	<servlet-class>coreservlets.TechBooksPage</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TechBooksPage</servlet-name>
  	<url-pattern>/servlet/TechBooksPage</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>OrderPage</servlet-name>
  	<servlet-class>coreservlets.OrderPage</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>OrderPage</servlet-name>
  	<url-pattern>/servlet/OrderPage</url-pattern>
  </servlet-mapping>
  
     <servlet>
  	<servlet-name>CatalogPage</servlet-name>
  	<servlet-class>coreservlets.CatalogPage</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CatalogPage</servlet-name>
  	<url-pattern>/servlet/CatalogPage</url-pattern>
  </servlet-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>